<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}"
      href="/" data-geek-title="$ ls posts" title="Home">
      Home
    </a>

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
            href="{{ node.url }}"
            title="{{ node.title }}"
            data-geek-title="{{ node.geek_title }}">
              {{ node.title }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item social-panel">
    <a href="{{ site.author.twitter }}" target="_blank">
      <img src="/assets/images/icons/twitter.svg" alt="@{{ site.author.name }}" />
    </a>

    <a href="{{ site.author.facebook }}" target="_blank">
      <img src="/assets/images/icons/facebook.svg" alt="{{ site.author.name }}" />
    </a>

    <a href="{{ site.author.linkedin }}" target="_blank">
      <img src="/assets/images/icons/linkedin.svg" alt="{{ site.author.name }}" />
    </a>
  </div>
</div>
