---
# Stylesheet for about page
layout: null
---
@charset "utf-8";

@import "lanyon";
@import "poole";
@import "syntax";

#about {
  img {
    display: block;
    margin: 0 auto;
    width: 320px;
    max-width: 100%;
  }
}
