
@import '_variables';

body, html, .wrap {
  height: 100%;
}

.social-panel {
  text-align: center;

  a {
    display: inline-block;

    img {
      width: 60px;

      @include media('handheld') {
        width: 50px;
      }
    }
  }
}