
@import '_variables';

body, html, .wrap {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.post, .page {
  img {
    display: block;
    margin: 0 auto;
    width: 370px;
    max-width: 90%;
  }

  margin-bottom: 2rem;
}

.sidebar-nav-item {
  i {
    display: none;
    color: $primary_alt_text;
    font-size: .7rem;
    font-style: normal;
  }

  &:hover {
    i {
      display: inline;
    }
  }
}

.social-panel {
  text-align: center;
  padding-left: 0;

  li {
    list-style: none;
    display: inline-block;
    margin: auto 10px;
  }

  a {
    display: inline-block;
    color: inherit;

    img {
      width: 60px;

      @include media('handheld') {
        width: 50px;
      }
    }
  }
}

.footnotes {
  color: $primary_alt_text;
  font-size: .75rem;
  font-style: italic;
  border-top: 1px solid $primary_alt_text;
  padding-top: 1rem;
  margin-top: .5rem;
}

// figure caption
img + em {
  display: inline-block;
  color: $primary_alt_text;
  font-size: .85rem;
  text-align: center;
  width: 100%;
}

.post-tags {
  padding-left: 0;

  li {
    padding: 3px 6px;
    margin: 3px auto;
    font-size: 0.75em;
    display: inline-block;
    list-style: none;
    background: #505050;
    color: #fff;
  }
}
